* {
    margin: 0;
    padding: 0;

}

html, body {
   height: 100%;
   width: 100%;
   font-family: 'Lato', sans-serif;
   overflow-x: hidden;



}

body {
    /*background-color: #E1E6EF;*/
    background-color: #FCFCFD;

}

a {
    text-decoration: none;
}

.main {
    width:100%;
    height: 100%;
     list-style: none;
 }
 .main-left {
    width:50%;
    height: 100%;
    float:left;
 }
.main-right {
    width:50%;
    height: 100%;
    float:right;
 }
 
 #icon {
     text-align: center;
     margin-top: 5%;
 }
 ul#icon li {
    display:inline;
    margin-right: 5px;
    fill: white;
  }

#label {
    text-align: center;
    margin-top: 5%;
}
ul#label li {
   display:inline;
   margin-right: 5px;
   border: 2px solid black;
   padding: 5px;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: .5px;
 }

 #cta a, #cta:visited {
     color: black;
 }
 #cta {
     text-align: center;
     padding: 10px;
     font-size: .7rem;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     font-weight: bold;
 }


 
 @media only screen and (max-width: 1300px)
 {
     .main-left, .main-right
     {
         display: block; 
         float: none; 
         width: 100%;
         padding: 20px 0;
     }

     }
}